body {
	background-color: #DBDBDB;
    color: #A2A9AF;
   font-family: 'Lora', serif;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #7795F8;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 32px;
}
h2 {
	color: #7795F8;
	font-family: 'Lora', serif;
}
a {
	text-decoration: none;
	color: #229AFF;
}
a:hover {
	color: rgb(0, 0, 0);
}


.container {
	width: 700px;
	margin: 40px auto;
}


@media ( max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media ( max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba (0,0,0,0.1);
    border-radius: 6px
    margin: 30px 10px;
    text-align: center;
  }

.img-circle {
	border-radius: 70%;
}
.btn-blue {
	background-color: #229AFF;
	color: white;
	padding: 10px 15px;
	border-radius: 4px
}
.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i:hover {
	font-size: 50px;
	color: rgb(230,230,230);
}

#introduction p {
	margin-bottom: 40px;
}